* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

input {
    outline: none;
}

ul {
    list-style-type: none;
}

.background-color {
    background-color: rgba(23, 116, 255, 0.635);
}

.font-color {
    color: rgba(23, 116, 255, 0.635);
}